In [1]:
# Import the necessaary libaries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Data Preprocessing

## Data Understanding & Inspection

In [3]:
# load the data
insure_data = pd.read_csv("Desktop/holiday projects/insurance_data.csv")

In [4]:
# The first ten elements of the dataset
insure_data.head(10)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472
5,2020-06-01 00:00:00,TXN00000006,A00003571,PLC00007244,2012-12-28,2020-05-20,2020-05-25,Life,87.02,63000,...,A,Major Loss,Ambulance,0,1,AZ,Glendale,0,AGENT00402,NaN
6,2020-06-01 00:00:00,TXN00000007,A00007245,PLC00002796,2012-10-26,2020-05-13,2020-05-18,Health,197.23,3000,...,A,Major Loss,Police,1,1,CT,Manchester,10,AGENT00322,VNDR00150
7,2020-06-01 00:00:00,TXN00000008,A00004301,PLC00002925,2018-12-30,2020-05-14,2020-05-19,Motor,83.77,8000,...,A,Total Loss,Police,0,1,FL,Panama City Beach,10,AGENT00152,VNDR00326
8,2020-06-01 00:00:00,TXN00000009,A00004671,PLC00006886,2019-06-27,2020-05-21,2020-05-26,Motor,82.14,5000,...,A,Major Loss,Police,0,1,AZ,Glendale,22,AGENT00450,VNDR00437
9,2020-06-01 00:00:00,TXN00000010,A00002020,PLC00007657,2015-12-19,2020-05-15,2020-05-20,Travel,71.29,4000,...,A,Major Loss,None,0,0,CA,San Leandro,4,AGENT00682,NaN

In [5]:
# The last ten elements of the dataset
insure_data.tail(10)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
9990,2021-06-30 00:00:00,TXN00009991,A00007116,PLC00009899,2019-07-07,2021-06-15,2021-06-20,Motor,121.84,7000,...,A,Minor Loss,Ambulance,1,1,KY,Louisville,17,AGENT00358,VNDR00098
9991,2021-06-30 00:00:00,TXN00009992,A00008542,PLC00000807,2018-03-29,2021-06-26,2021-06-27,Travel,88.20,3000,...,A,Minor Loss,None,1,1,AZ,Glendale,16,AGENT01054,NaN
9992,2021-06-30 00:00:00,TXN00009993,A00005925,PLC00005916,2013-10-07,2021-06-29,2021-06-29,Mobile,6.41,600,...,A,Minor Loss,Police,1,1,GA,Garden City,13,AGENT00552,VNDR00592
9993,2021-06-30 00:00:00,TXN00009994,A00008267,PLC00009629,2016-08-22,2021-06-22,2021-06-25,Life,91.53,78000,...,A,Minor Loss,Ambulance,0,1,TN,Nashville,2,AGENT00770,VNDR00560
9994,2021-06-30 00:00:00,TXN00009995,A00003508,PLC00009242,2011-10-01,2021-06-24,2021-06-26,Property,135.33,34000,...,A,Major Loss,Ambulance,1,0,OK,Edmond,6,AGENT00481,VNDR00262
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,A,Minor Loss,Ambulance,1,1,CT,Manchester,0,AGENT00779,NaN
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,A,Total Loss,Police,1,0,MA,Worcester,6,AGENT00254,VNDR00598
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,A,Major Loss,None,1,1,OK,Oklahoma City,12,AGENT00786,VNDR00104
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,A,Total Loss,Ambulance,0,1,AR,Fayetteville,6,AGENT00927,VNDR00185
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,A,Total Loss,Ambulance,1,0,CT,Manchester,13,AGENT00118,VNDR00163

In [6]:
# General info of the dataset
insure_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             10000 non-null  object
 1   TRANSACTION_ID            10000 non-null  object
 2   CUSTOMER_ID               10000 non-null  object
 3   POLICY_NUMBER             10000 non-null  object
 4   POLICY_EFF_DT             10000 non-null  object
 5   LOSS_DT                   10000 non-null  object
 6   REPORT_DT                 10000 non-null  object
 7   INSURANCE_TYPE            10000 non-null  object
 8   PREMIUM_AMOUNT            10000 non-null  float64
 9   CLAIM_AMOUNT              10000 non-null  int64
 10  CUSTOMER_NAME             10000 non-null  object
 11  ADDRESS_LINE1             10000 non-null  object
 12  ADDRESS_LINE2             1495 non-null   object
 13  CITY                      9946 non-null   object
 14  STATE                     10000 non-null  object
 15  POSTAL_CODE               10000 non-null  int64
 16  SSN                       10000 non-null  object
 17  MARITAL_STATUS            10000 non-null  object
 18  AGE                       10000 non-null  int64
 19  TENURE                    10000 non-null  int64
 20  EMPLOYMENT_STATUS         10000 non-null  object
 21  NO_OF_FAMILY_MEMBERS      10000 non-null  int64
 22  RISK_SEGMENTATION         10000 non-null  object
 23  HOUSE_TYPE                10000 non-null  object
 24  SOCIAL_CLASS              10000 non-null  object
 25  ROUTING_NUMBER            10000 non-null  int64
 26  ACCT_NUMBER               10000 non-null  object
 27  CUSTOMER_EDUCATION_LEVEL  9471 non-null   object
 28  CLAIM_STATUS              10000 non-null  object
 29  INCIDENT_SEVERITY         10000 non-null  object
 30  AUTHORITY_CONTACTED       10000 non-null  object
 31  ANY_INJURY                10000 non-null  int64
 32  POLICE_REPORT_AVAILABLE   10000 non-null  int64
 33  INCIDENT_STATE            10000 non-null  object
 34  INCIDENT_CITY             9954 non-null   object
 35  INCIDENT_HOUR_OF_THE_DAY  10000 non-null  int64
 36  AGENT_ID                  10000 non-null  object
 37  VENDOR_ID                 6755 non-null   object
dtypes: float64(1), int64(9), object(28)
memory usage: 2.9+ MB

In [45]:
# show the shape of the dataset
insure_data.shape

(10000, 38)

## Data Cleaning

In [158]:
# Remove sensitive/unnecessary columns
sensitive_cols = ['TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER', 'ADDRESS_LINE1', 'ADDRESS_LINE2', 'CITY', 'SSN', 'ROUTING_NUMBER','INCIDENT_CITY', 'ACCT_NUMBER', 'VENDOR_ID', 'POSTAL_CODE', 'CUSTOMER_NAME', 'AGENT_ID']
existing_data = insure_data.drop(sensitive_cols, axis=1)

In [159]:
# Check the existing data
existing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             10000 non-null  datetime64[ns]
 1   POLICY_EFF_DT             10000 non-null  datetime64[ns]
 2   LOSS_DT                   10000 non-null  datetime64[ns]
 3   REPORT_DT                 10000 non-null  datetime64[ns]
 4   INSURANCE_TYPE            10000 non-null  object
 5   PREMIUM_AMOUNT            10000 non-null  float64
 6   CLAIM_AMOUNT              10000 non-null  int64
 7   STATE                     10000 non-null  object
 8   MARITAL_STATUS            10000 non-null  object
 9   AGE                       10000 non-null  int64
 10  TENURE                    10000 non-null  int64
 11  EMPLOYMENT_STATUS         10000 non-null  object
 12  NO_OF_FAMILY_MEMBERS      10000 non-null  int64
 13  RISK_SEGMENTATION         10000 non-null  object
 14  HOUSE_TYPE                10000 non-null  object
 15  SOCIAL_CLASS              10000 non-null  object
 16  CUSTOMER_EDUCATION_LEVEL  10000 non-null  object
 17  CLAIM_STATUS              10000 non-null  object
 18  INCIDENT_SEVERITY         10000 non-null  object
 19  AUTHORITY_CONTACTED       10000 non-null  object
 20  ANY_INJURY                10000 non-null  int64
 21  POLICE_REPORT_AVAILABLE   10000 non-null  int64
 22  INCIDENT_STATE            10000 non-null  object
 23  INCIDENT_HOUR_OF_THE_DAY  10000 non-null  int64
dtypes: datetime64[ns](4), float64(1), int64(7), object(12)
memory usage: 1.8+ MB

### Handle Missing Values

In [108]:
# Check for missing values
existing_data.isna().sum()

TXN_DATE_TIME               0
POLICY_EFF_DT               0
LOSS_DT                     0
REPORT_DT                   0
INSURANCE_TYPE              0
PREMIUM_AMOUNT              0
CLAIM_AMOUNT                0
CUSTOMER_NAME               0
STATE                       0
MARITAL_STATUS              0
AGE                         0
TENURE                      0
EMPLOYMENT_STATUS           0
NO_OF_FAMILY_MEMBERS        0
RISK_SEGMENTATION           0
HOUSE_TYPE                  0
SOCIAL_CLASS                0
CUSTOMER_EDUCATION_LEVEL    0
CLAIM_STATUS                0
INCIDENT_SEVERITY           0
AUTHORITY_CONTACTED         0
ANY_INJURY                  0
POLICE_REPORT_AVAILABLE     0
INCIDENT_STATE              0
INCIDENT_HOUR_OF_THE_DAY    0
AGENT_ID                    0
dtype: int64

### Filling the missing values of the Customer_Education_Level with "Unknown" because it is an important part of our analysis and it will alter the Insuance_Type column if dropped

In [161]:
# fill the missing values with unknown
existing_data['CUSTOMER_EDUCATION_LEVEL'] = existing_data['CUSTOMER_EDUCATION_LEVEL'].fillna('Unknown')

In [167]:
# Quick Check
existing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             10000 non-null  datetime64[ns]
 1   POLICY_EFF_DT             10000 non-null  datetime64[ns]
 2   LOSS_DT                   10000 non-null  datetime64[ns]
 3   REPORT_DT                 10000 non-null  datetime64[ns]
 4   INSURANCE_TYPE            10000 non-null  object
 5   PREMIUM_AMOUNT            10000 non-null  float64
 6   CLAIM_AMOUNT              10000 non-null  int64
 7   STATE                     10000 non-null  object
 8   MARITAL_STATUS            10000 non-null  object
 9   AGE                       10000 non-null  int64
 10  TENURE                    10000 non-null  int64
 11  EMPLOYMENT_STATUS         10000 non-null  object
 12  NO_OF_FAMILY_MEMBERS      10000 non-null  int64
 13  RISK_SEGMENTATION         10000 non-null  object
 14  HOUSE_TYPE                10000 non-null  object
 15  SOCIAL_CLASS              10000 non-null  object
 16  CUSTOMER_EDUCATION_LEVEL  10000 non-null  object
 17  CLAIM_STATUS              10000 non-null  object
 18  INCIDENT_SEVERITY         10000 non-null  object
 19  AUTHORITY_CONTACTED       10000 non-null  object
 20  ANY_INJURY                10000 non-null  int64
 21  POLICE_REPORT_AVAILABLE   10000 non-null  int64
 22  INCIDENT_STATE            10000 non-null  object
 23  INCIDENT_HOUR_OF_THE_DAY  10000 non-null  int64
dtypes: datetime64[ns](4), float64(1), int64(7), object(12)
memory usage: 1.8+ MB

### Finding Duplicates

In [68]:
existing_data.duplicated().sum()

0

### Renaming Columns

In [177]:
# Convert the columns from uppercase to a proper snake_case
existing_data.columns = existing_data.columns.str.strip().str.lower()

In [178]:
# Quick Check
existing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   txn_date_time             10000 non-null  datetime64[ns]
 1   policy_eff_dt             10000 non-null  datetime64[ns]
 2   loss_dt                   10000 non-null  datetime64[ns]
 3   report_dt                 10000 non-null  datetime64[ns]
 4   insurance_type            10000 non-null  object
 5   premium_amount            10000 non-null  float64
 6   claim_amount              10000 non-null  int64
 7   state                     10000 non-null  object
 8   marital_status            10000 non-null  object
 9   age                       10000 non-null  int64
 10  tenure                    10000 non-null  int64
 11  employment_status         10000 non-null  object
 12  no_of_family_members      10000 non-null  int64
 13  risk_segmentation         10000 non-null  object
 14  house_type                10000 non-null  object
 15  social_class              10000 non-null  object
 16  customer_education_level  10000 non-null  object
 17  claim_status              10000 non-null  object
 18  incident_severity         10000 non-null  object
 19  authority_contacted       10000 non-null  object
 20  any_injury                10000 non-null  int64
 21  police_report_available   10000 non-null  int64
 22  incident_state            10000 non-null  object
 23  incident_hour_of_the_day  10000 non-null  int64
dtypes: datetime64[ns](4), float64(1), int64(7), object(12)
memory usage: 1.8+ MB

Changing the "tenure" column to ""policy_tenure_mnths" which indicates the tenure in months

In [179]:
existing_data.rename(columns = {'tenure' : 'policy_tenure_mnths'}, inplace=True)

In [180]:
# Quick Check
existing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   txn_date_time             10000 non-null  datetime64[ns]
 1   policy_eff_dt             10000 non-null  datetime64[ns]
 2   loss_dt                   10000 non-null  datetime64[ns]
 3   report_dt                 10000 non-null  datetime64[ns]
 4   insurance_type            10000 non-null  object
 5   premium_amount            10000 non-null  float64
 6   claim_amount              10000 non-null  int64
 7   state                     10000 non-null  object
 8   marital_status            10000 non-null  object
 9   age                       10000 non-null  int64
 10  policy_tenure_mnths       10000 non-null  int64
 11  employment_status         10000 non-null  object
 12  no_of_family_members      10000 non-null  int64
 13  risk_segmentation         10000 non-null  object
 14  house_type                10000 non-null  object
 15  social_class              10000 non-null  object
 16  customer_education_level  10000 non-null  object
 17  claim_status              10000 non-null  object
 18  incident_severity         10000 non-null  object
 19  authority_contacted       10000 non-null  object
 20  any_injury                10000 non-null  int64
 21  police_report_available   10000 non-null  int64
 22  incident_state            10000 non-null  object
 23  incident_hour_of_the_day  10000 non-null  int64
dtypes: datetime64[ns](4), float64(1), int64(7), object(12)
memory usage: 1.8+ MB

In [181]:
# convert the date columns to datetime datatype and check 
date_columns = ['txn_date_time', 'loss_dt', 'policy_eff_dt', 'report_dt']

for col in date_columns:
    existing_data[col] = pd.to_datetime(existing_data[col], errors = 'coerce')
existing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   txn_date_time             10000 non-null  datetime64[ns]
 1   policy_eff_dt             10000 non-null  datetime64[ns]
 2   loss_dt                   10000 non-null  datetime64[ns]
 3   report_dt                 10000 non-null  datetime64[ns]
 4   insurance_type            10000 non-null  object
 5   premium_amount            10000 non-null  float64
 6   claim_amount              10000 non-null  int64
 7   state                     10000 non-null  object
 8   marital_status            10000 non-null  object
 9   age                       10000 non-null  int64
 10  policy_tenure_mnths       10000 non-null  int64
 11  employment_status         10000 non-null  object
 12  no_of_family_members      10000 non-null  int64
 13  risk_segmentation         10000 non-null  object
 14  house_type                10000 non-null  object
 15  social_class              10000 non-null  object
 16  customer_education_level  10000 non-null  object
 17  claim_status              10000 non-null  object
 18  incident_severity         10000 non-null  object
 19  authority_contacted       10000 non-null  object
 20  any_injury                10000 non-null  int64
 21  police_report_available   10000 non-null  int64
 22  incident_state            10000 non-null  object
 23  incident_hour_of_the_day  10000 non-null  int64
dtypes: datetime64[ns](4), float64(1), int64(7), object(12)
memory usage: 1.8+ MB

### Feature Engineering

In [182]:
# Create two new columns for transaction delay and reporting delay
existing_data['txn_delay'] = existing_data['txn_date_time'] - existing_data['report_dt']
existing_data['reporting_delay'] = existing_data['report_dt'] - existing_data['loss_dt']
existing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   txn_date_time             10000 non-null  datetime64[ns]
 1   policy_eff_dt             10000 non-null  datetime64[ns]
 2   loss_dt                   10000 non-null  datetime64[ns]
 3   report_dt                 10000 non-null  datetime64[ns]
 4   insurance_type            10000 non-null  object
 5   premium_amount            10000 non-null  float64
 6   claim_amount              10000 non-null  int64
 7   state                     10000 non-null  object
 8   marital_status            10000 non-null  object
 9   age                       10000 non-null  int64
 10  policy_tenure_mnths       10000 non-null  int64
 11  employment_status         10000 non-null  object
 12  no_of_family_members      10000 non-null  int64
 13  risk_segmentation         10000 non-null  object
 14  house_type                10000 non-null  object
 15  social_class              10000 non-null  object
 16  customer_education_level  10000 non-null  object
 17  claim_status              10000 non-null  object
 18  incident_severity         10000 non-null  object
 19  authority_contacted       10000 non-null  object
 20  any_injury                10000 non-null  int64
 21  police_report_available   10000 non-null  int64
 22  incident_state            10000 non-null  object
 23  incident_hour_of_the_day  10000 non-null  int64
 24  txn_delay                 10000 non-null  timedelta64[ns]
 25  reporting_delay           10000 non-null  timedelta64[ns]
dtypes: datetime64[ns](4), float64(1), int64(7), object(12), timedelta64[ns](2)
memory usage: 2.0+ MB

In [183]:
# Extract the day section from the created columns so it can be an integer
existing_data['reporting_delay'] = existing_data['reporting_delay'].dt.days
existing_data['txn_delay'] = existing_data['txn_delay'].dt.days
existing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   txn_date_time             10000 non-null  datetime64[ns]
 1   policy_eff_dt             10000 non-null  datetime64[ns]
 2   loss_dt                   10000 non-null  datetime64[ns]
 3   report_dt                 10000 non-null  datetime64[ns]
 4   insurance_type            10000 non-null  object
 5   premium_amount            10000 non-null  float64
 6   claim_amount              10000 non-null  int64
 7   state                     10000 non-null  object
 8   marital_status            10000 non-null  object
 9   age                       10000 non-null  int64
 10  policy_tenure_mnths       10000 non-null  int64
 11  employment_status         10000 non-null  object
 12  no_of_family_members      10000 non-null  int64
 13  risk_segmentation         10000 non-null  object
 14  house_type                10000 non-null  object
 15  social_class              10000 non-null  object
 16  customer_education_level  10000 non-null  object
 17  claim_status              10000 non-null  object
 18  incident_severity         10000 non-null  object
 19  authority_contacted       10000 non-null  object
 20  any_injury                10000 non-null  int64
 21  police_report_available   10000 non-null  int64
 22  incident_state            10000 non-null  object
 23  incident_hour_of_the_day  10000 non-null  int64
 24  txn_delay                 10000 non-null  int64
 25  reporting_delay           10000 non-null  int64
dtypes: datetime64[ns](4), float64(1), int64(9), object(12)
memory usage: 2.0+ MB

In [152]:
# Summary Statistics
existing_data.describe().T

,count,mean,std,min,25%,50%,75%,max
premium_amount,10000.0,88.508595,48.315874,6.0,62.015,88.835,121.9025,200.0
claim_amount,10000.0,16563.830000,22037.489735,100.0,2000.000,7000.000,21000.0000,100000.0
age,10000.0,44.466100,11.516827,25.0,34.000,45.000,54.0000,64.0
policy_tenure_mnths,10000.0,62.949800,32.890604,6.0,34.000,64.000,92.0000,119.0
no_of_family_members,10000.0,4.488400,1.712588,2.0,3.000,4.000,6.0000,7.0
any_injury,10000.0,0.699100,0.458672,0.0,0.000,1.000,1.0000,1.0
police_report_available,10000.0,0.692800,0.461356,0.0,0.000,1.000,1.0000,1.0
incident_hour_of_the_day,10000.0,11.604000,6.877101,0.0,6.000,12.000,18.0000,23.0
txn_delay,10000.0,7.208300,4.069812,1.0,4.000,6.000,11.0000,15.0
reporting_delay,10000.0,3.211800,1.966908,0.0,1.000,3.000,5.0000,5.0

In [184]:
# Save the clean dataset
cleaned_data = existing_data.to_csv('Downloads/cleaned_insurance_data')